In [1]:
import numpy as np, pandas as pd

In [46]:
from pathlib import Path
p = Path('C:/Users/takas/OneDrive/Desktop/2025 GA Financial Census_May 15, 2025_21.34.csv')
df = pd.read_csv(p,header=1)

## Clean Qualtrics CSV

In [67]:
df1 = df.drop([0])

# No previews
df1 = df1[df1['Response Type']!='Survey Preview'].reset_index(drop=True)

# Discard unnecessary data
df1 = df1.iloc[:,17:]

# Print data summary
print('/*****\n\nData read into df1. {} responses. {} questions asked.\n\n*****/'.format(*df1.shape))

/*****

Data read into df1. 362 responses. 54 questions asked.

*****/

## Background

In [70]:
df_bg = df1.iloc[:,:3]
df_bg.head()

,What division is your program in? - Selected Choice,What division is your program in? - Other (please specify) - Text,Which department are you in? - Selected Choice
0,School of Information,NaN,Information & Data Science
1,College of Chemistry,NaN,Chemical and Biomolecular Engineering
2,School of Public Health,NaN,Health Policy and Management
3,Letters and Science - Mathematical and Physica...,NaN,Mathematics
4,School of Law,NaN,Law