In [2]:
# Imports 
import numpy as np, pandas as pd, matplotlib.pyplot as plt, matplotlib as mpl
import tjy_udf as tjy
print("tjy_udf: ", list(filter(lambda x: '__' not in x, dir(tjy)))) # Print contained functions
mpl.rc_file('tjy.mplstyle')

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)
DISPLAY_SORTED = True
from matplotlib.lines import Line2D
from matplotlib.patches import Patch
from matplotlib import ticker
from matplotlib.ticker import (AutoMinorLocator, MultipleLocator)
from matplotlib import animation, rc
    
GIT = 'https://github.com/tyokokur/tmpdat/raw/main/naf/'
''' If SSL error _ssl.c:997: 
    pip install --upgrade certifi'''

tjy_udf:  ['CalcF', 'H_find', 'Heights', 'Kap_D', 'elread', 'get_fp', 'get_fs', 'git_sync', 'lighten_color', 'phread', 'phreadxyz', 'plot_anim', 'plot_pha', 'plot_pha_feed', 'ticks']

' If SSL error _ssl.c:997: \n    pip install --upgrade certifi'

In [59]:
i = 'lx60.txt'
data = pd.read_csv(GIT+i, names=['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'], sep='\s+')
# display(data)

thetas, nd = [], []
for i in range(len(data)):
    if i%2: thetas += [data.iloc[i,5]]
    else:   nd += [data.iloc[i,:6].to_list()]
dat = pd.concat([pd.DataFrame(nd), pd.Series(thetas)], ignore_index=True, axis=1)
dat

         0    1        2            3         4             5             6
0   6405.0  6.0 -192.241  2.07059e-10  0.000002  5.504670e-07  6.813000e-12
1   6517.0  6.0 -192.253  2.02598e-10  0.000002  5.427620e-07  1.045400e-11
2   4018.0  6.0 -192.271  1.06353e-10  0.000002  5.974650e-04  1.994400e-11
3   5307.0  6.0 -192.299  1.78112e-10  0.000002  2.066060e-06  5.909300e-11
4   4380.0  6.0 -192.322  3.68966e-10  0.000002  2.674260e-06  1.771200e-10
5  11585.0  6.0 -192.332  1.71747e-10  0.000002  5.454950e-07  5.368700e-10
6   8425.0  6.0 -192.293  1.80083e-10  0.000002  5.456030e-07  5.098100e-09
7   7416.0  6.0 -192.113  1.82172e-10  0.000002  5.544400e-07  5.052200e-08